In [8]:
numbers = [2, 3, 7, 0, -2]

In [9]:
print(numbers)

[2, 3, 7, 0, -2]

In [10]:
numbers * 2

[2, 3, 7, 0, -2, 2, 3, 7, 0, -2]

In [13]:
for number in numbers:
    print(number*2)

4
6
14
0
-4

In [15]:
doubles = []
for number in numbers: 
    doubles.append(number*2)
doubles

[4, 6, 14, 0, -4]

In [26]:
def make_double(values):
    dbls = []
    for value in values:
        dbls.append(value*2)
    return dbls

In [25]:
make_double([3, 4, 9])

NameError: name 'make_double' is not defined